{% assign t = template | split: '.' | first %}
{% assign lang = shop.locale | prepend: "/" | remove: '/fr' %}

<ul class="breadcrumb">

    <li><a href="{{ lang }}/">{{ home }}</a></li>

    {% case t %}

    {% when 'search' %}
        <li><a href="{{ lang }}/collections/all" class="js-open-search">{{ searchTerms }}</a></li>
        <li><p>{{ search.terms | capitalize }}</p></li>

    {% when 'page' %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>

    {% when 'product' %}

    {% assign gender = false %}

        <li><a href="{{ shop.locale | prepend: '/' | remove: '/fr' }}/collections/nouveautes">{{ news }}</a></li>

        {% if gender != false %}
            {% for collection in product.collections %}
                {% if collection.title contains gender %}
                    <li class="breadcrumb-collection" data-collection="{{ collection.handle }}"><a href="{{ shop.locale | prepend: '/' | remove: '/fr' }}/collections/{{ collection.handle }}">{{ collection.title | remove: gender }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}

        <li><a href="{{ product.url }}">{{ product.title }}</a></li>


    {% when 'collection' and collection.handle %}

        {% assign list = 'accessoires vetements nouveautes all' | split: ' ' %}
        {% unless list contains collection.handle %}
            {% assign is_accessoires = false %}
            {% if collection.products and collection.products[0] %}
                {% if collection.products[0].tags contains 'Catégorie_Accessoires' %}
                {% assign is_accessoires = true %}
                {% endif %}
            {% endif %}
            {% if is_accessoires == true %}
                <li><a href="{{ lang }}/collections/accessoires">{{ accessories }}</a></li>
            {% else %}
                <li><a href="{{ lang }}/collections/vetements">{{ clothes }}</a></li>
            {% endif %}
        {% endunless %}
        <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>

    {% endcase %}

</ul>