<!doctype html>
<html lang="{{ shop.locale }}">
<head>
    <meta charset="utf-8">
    {% render 'layout-head' %}
    {{ content_for_header }}

</head>

<body class="template-{{ template.name }}{% if template.suffix %} template-{{ template.suffix }}{% endif %}">

{% section 'header' %}
{% section 'menu' %}
{% section 'search' %}

<main class="main">

    {{ content_for_layout }}

</main>

{% section 'minicart' %}
{% render 'symbols' %}

{% section 'newsletter' %}
{% section 'footer' %}

</body>
</html>